<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table class="table table-striped table-hover table-bordered" >
  <thead>
    <tr>
      <th>Category</th>
      <th></th>
      <th>#Productos</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %>
        <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= category.products.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Category', new_category_path %>
