<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>


<%= form_with(model: [@category, Product.new], local: true) do |form| %>
	
	<%= form.hidden_field :category_id, value: @category.id %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :product_price %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

   <table class="table table-striped table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Product</th>
          <th>Price</th>
          <th>Operations</th>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <% @category.products.each do |prod| %>
          <td><%= prod.id %></td>
          <td><%= prod.name %></td>
          <td><%= prod.price %></td>
          <td>
            <%= link_to 'Destroy', category_product_path(@category, prod), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-primary' %>  
          </td>
        </tr>
      </tbody>
    		<% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
